In [6]:
pip install mysql-connector-python pandas

Requirement already satisfied: mysql-connector-python in c:\users\crist\anaconda3\lib\site-packages (9.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\crist\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\crist\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\crist\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\crist\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\crist\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\crist\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import requests #librer√≠a est√°ndar de Python para manejar peticiones HTTP de forma sencilla
import pandas as pd  #para estructurarlos
import numpy as np #trabaja con arrays num√©ricos de alta eficiencia y para el manejo avanzado de valores nulos
import mysql.connector #Carga la librer√≠a que permite a Python comunicarse con el servidor MySQL
from mysql.connector import errorcode #Importa m√≥dulos para identificar y manejar errores espec√≠ficos de MySQL
from mysql.connector import Error 

# ====================================================================
# FASE 1: EXTRACCI√ìN, TRANSFORMACI√ìN Y LIMPIEZA
# ====================================================================
#definicion endpoint
url_api = "https://beta.adalab.es/resources/apis/pelis/pelis.json"
df_peliculas = pd.DataFrame() # Inicializaci√≥n segura para la tabla principal
df_subtitulos_raw = pd.DataFrame() # Inicializaci√≥n segura para el desanidamiento
data = []

try:
    response = requests.get(url_api) #petici√≥n GET porque solo necesitas obtener datos del servidor (la API).
    response.raise_for_status() #comprueba el c√≥digo de estado HTTP (200 OK, 404 Not Found, 500 Server Error, etc.) 
    #y lanza una excepci√≥n si el c√≥digo indica un fallo (4xx o 5xx).
    data = response.json()
except requests.exceptions.RequestException as e: #asegura que el programa no colapse si hay fallos de red
    print(f"Error al obtener los datos de la API: {e}")

if data: #el programa solo contin√∫a si realmente recibi√≥ datos de la API.
    # La API devuelve una lista de diccionarios (convirtiendo) el texto plano de la respuesta de la API (que est√° en formato JSON) 
    # a una estructura de datos nativa de Python (lista de diccionarios).
    df_temp = pd.DataFrame(data).head(100) #conviertes r√°pidamente la lista de diccionarios (estructura ideal de JSON) en un objeto DataFrame de Pandas, 
    # la estructura fundamental para el an√°lisis de datos en Python. Solo nos interesan las primeras 100 pel√≠culas: filtrado o control de volumen
    
    # 1. Renombrado y Selecci√≥n
    df_temp = df_temp.rename(columns={
        'id': 'id_pelicula',
        'titulo': 'titulo',
        'a√±o': 'ano_lanzamiento',
        'duracion': 'duracion_minutos',
        'genero': 'genero',
        'adultos': 'contenido_adulto'
    })

    # 2. Desanidamiento y Selecci√≥n
    # A√≠sla la columna de subt√≠tulos antes de la limpieza profunda de la tabla principal.
    # Este DF es el que usaremos para el bucle de inserci√≥n de subt√≠tulos.
    df_subtitulos_raw = df_temp[['id_pelicula', 'subtitulos']].copy() 
    
    # Seleccionamos las columnas para la tabla principal.  # Las columnas del enunciado son: T√≠tulo, A√±o de lanzamiento, Duraci√≥n (en minutos), G√©nero, Contenido para adultos
    df_peliculas = df_temp[['id_pelicula', 'titulo', 'ano_lanzamiento', 'duracion_minutos', 'genero', 'contenido_adulto']].copy()
    
    # 3. Limpieza y Estandarizaci√≥n
    
    # Estandarizaci√≥n de nulos (np.nan, 'nan', 'NaN' -> None)
    df_peliculas = df_peliculas.replace({np.nan: None, 'nan': None, 'NaN': None})
    
    # Eliminaci√≥n de filas con nulos (ya que todas las columnas son NOT NULL en MySQL)
    filas_antes = len(df_peliculas)
    df_peliculas.dropna(inplace=True)
    filas_eliminadas = filas_antes - len(df_peliculas)
    
    if filas_eliminadas > 0:
        print(f"‚ö†Ô∏è Atenci√≥n: Se eliminaron {filas_eliminadas} filas por contener datos nulos.")
        
    print("‚úÖ Extracci√≥n, Renombrado y Limpieza completada.")
    
else:
    print("‚ùå No se pudieron obtener datos para el DataFrame.") 

# ====================================================================
# FASE 2 y 3: CONEXI√ìN, CREACI√ìN DE TABLAS Y CARGA
# ====================================================================

nombre_bd = "Adalab_pelis"
cnx = None 

try:
    # --- Comprobaci√≥n de que haya datos limpios antes de conectar ---
    if df_peliculas.empty:
        raise Exception("No hay datos v√°lidos para la inserci√≥n. Abortando conexi√≥n a DB.")
        
    # --- CONEXI√ìN INICIAL PARA CREAR DB ---
    cnx = mysql.connector.connect( # Inicializamos la variable de conexi√≥n
        host='127.0.0.1',
        user='root',
        password='AlumnaAdalab',
    )
    
    mycursor = cnx.cursor() # Intento de conexi√≥n inicial sin especificar la DB para crearla #Crea un objeto cursor a trav√©s del cual se enviar√°n los comandos SQL al servidor MySQL
    query = f"CREATE DATABASE IF NOT EXISTS {nombre_bd}"
    mycursor.execute(query)
    print(f"üíæ Base de datos '{nombre_bd}' creada/asegurada.")
    
    mycursor.close() #cerramos conexion temporalmente
    cnx.close()
    
    # --- RECONEXI√ìN A LA BASE DE DATOS ESPEC√çFICA ---
    cnx = mysql.connector.connect( #nos conectamos a la base de datos especifica
        host='127.0.0.1',
        user='root',
        password='AlumnaAdalab',
        database=nombre_bd 
    )
    mycursor = cnx.cursor()

    # --- 4. CREACI√ìN DE TABLAS ---
    TABLES = {}
    
    # 4a. Tabla PELICULAS
    TABLES['peliculas'] = (
        "CREATE TABLE `peliculas` ("
        "  `id_pelicula` INT NOT NULL,"
        "  `titulo` VARCHAR(255) NOT NULL,"
        "  `ano_lanzamiento` YEAR NOT NULL,"
        "  `duracion_minutos` INT NOT NULL,"
        "  `genero` VARCHAR(100) NOT NULL,"
        "  `contenido_adulto` VARCHAR(3) NOT NULL,"
        "  PRIMARY KEY (`id_pelicula`)" 
        ") ENGINE=InnoDB"
    )

    # 4b. Tabla SUBTITULOS (Debe crearse despu√©s de la tabla 'peliculas')
    TABLES['subtitulos'] = """
    CREATE TABLE subtitulos (
        id_subtitulo INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
        id_pelicula INT NOT NULL,
        codigo_idioma VARCHAR(5) NOT NULL,
        FOREIGN KEY (id_pelicula) REFERENCES peliculas(id_pelicula)
        ON DELETE CASCADE 
        ON UPDATE CASCADE
    );
    """ 
    
    # Ejecuci√≥n secuencial de creaci√≥n de tablas
    for name, ddl in TABLES.items():
        try:
            print(f"‚è≥ Creando tabla {name}...")
            mycursor.execute(ddl)
        except mysql.connector.Error as err:
            if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
                print(f"‚úÖ La tabla '{name}' ya existe, continuando...")
            else:
                print(f"‚ùå Error al crear la tabla '{name}': {err}")

    # --- 5. INSERCI√ìN DE DATOS ---

    # 5a. INSERCI√ìN EN PELICULAS
    insert_peliculas_query = (
        "INSERT INTO peliculas "
        "(id_pelicula, titulo, ano_lanzamiento, duracion_minutos, genero, contenido_adulto) "
        "VALUES (%s, %s, %s, %s, %s, %s)"
    )
    records_peliculas = [
        (row['id_pelicula'], row['titulo'], row['ano_lanzamiento'], row['duracion_minutos'], row['genero'], row['contenido_adulto'])
        for index, row in df_peliculas.iterrows()
    ]
    mycursor.executemany(insert_peliculas_query, records_peliculas)
    print(f"üé¨ Inserci√≥n en 'peliculas' completada. {mycursor.rowcount} filas.")
    
    # 5b. DESANIDAMIENTO E INSERCI√ìN EN SUBTITULOS
    
    insert_subtitulos_query = "INSERT INTO subtitulos (id_pelicula, codigo_idioma) VALUES (%s, %s)"
    records_subtitulos = []

    # Iteramos sobre el DataFrame RAW para desanidar los subt√≠tulos
    for index, row in df_subtitulos_raw.iterrows():
        pelicula_id = row['id_pelicula']
        subtitulos_list = row["subtitulos"]
        
        # Comprobaci√≥n de integridad: solo itera si es una lista v√°lida
        if subtitulos_list is not None and isinstance(subtitulos_list, list):
            for idioma in subtitulos_list:
                # Aseguramos que el ID de la pel√≠cula est√© en el DataFrame limpio antes de insertar
                if pelicula_id in df_peliculas['id_pelicula'].values:
                    records_subtitulos.append((pelicula_id, idioma))

    if records_subtitulos:
        mycursor.executemany(insert_subtitulos_query, records_subtitulos)
        print(f"üìù Inserci√≥n en 'subtitulos' completada. {mycursor.rowcount} filas.")

    # --- COMMIT FINAL ---
    cnx.commit()
    print("üéâ Transacci√≥n confirmada.")


except Error as e:
    print(f"‚ùå Error cr√≠tico de MySQL: {e}")
except Exception as e:
    print(f"‚ùå Error en la l√≥gica de Python: {e}")
    
finally: #el bloque finally siempre se ejecuta, independientemente de si hay error o no
    if cnx and cnx.is_connected():
        if 'mycursor' in locals() and mycursor is not None:
             mycursor.close()
        cnx.close()
        print("üîå Conexi√≥n a MySQL cerrada.")

‚úÖ Extracci√≥n, Renombrado y Limpieza completada.
üíæ Base de datos 'Adalab_pelis' creada/asegurada.
‚è≥ Creando tabla peliculas...
‚è≥ Creando tabla subtitulos...
üé¨ Inserci√≥n en 'peliculas' completada. 100 filas.
üìù Inserci√≥n en 'subtitulos' completada. 211 filas.
üéâ Transacci√≥n confirmada.
üîå Conexi√≥n a MySQL cerrada.

In [22]:
data

[{'id': 1,
  'titulo': 'The Godfather',
  'a√±o': 1972,
  'duracion': 175,
  'genero': 'Crimen',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 2,
  'titulo': 'The Godfather Part II',
  'a√±o': 1974,
  'duracion': 202,
  'genero': 'Crimen',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 3,
  'titulo': 'Pulp Fiction',
  'a√±o': 1994,
  'duracion': 154,
  'genero': 'Crimen',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 4,
  'titulo': 'Forrest Gump',
  'a√±o': 1994,
  'duracion': 142,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en', 'fr']},
 {'id': 5,
  'titulo': 'The Dark Knight',
  'a√±o': 2008,
  'duracion': 152,
  'genero': 'Acci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 6,
  'titulo': 'Fight Club',
  'a√±o': 1999,
  'duracion': 139,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 7,
  'titulo': 'Inception',
  'a√±o': 2010,
  'duracion': 148,
  'genero': 'Ciencia ficci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en', 'de']},
 {'id': 8,
  'titulo': 'The Matrix',
  'a√±o': 1999,
  'duracion': 136,
  'genero': 'Ciencia ficci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 9,
  'titulo': 'The Shawshank Redemption',
  'a√±o': 1994,
  'duracion': 142,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 10,
  'titulo': 'Interstellar',
  'a√±o': 2014,
  'duracion': 169,
  'genero': 'Ciencia ficci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 11,
  'titulo': 'Gladiator',
  'a√±o': 2000,
  'duracion': 155,
  'genero': 'Acci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 12,
  'titulo': 'Titanic',
  'a√±o': 1997,
  'duracion': 195,
  'genero': 'Romance',
  'adultos': False,
  'subtitulos': ['es', 'en', 'fr']},
 {'id': 13,
  'titulo': 'Avatar',
  'a√±o': 2009,
  'duracion': 162,
  'genero': 'Ciencia ficci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 14,
  'titulo': 'Saving Private Ryan',
  'a√±o': 1998,
  'duracion': 169,
  'genero': 'B√©lico',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 15,
  'titulo': 'The Silence of the Lambs',
  'a√±o': 1991,
  'duracion': 118,
  'genero': 'Thriller',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 16,
  'titulo': 'Se7en',
  'a√±o': 1995,
  'duracion': 127,
  'genero': 'Thriller',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 17,
  'titulo': 'Goodfellas',
  'a√±o': 1990,
  'duracion': 146,
  'genero': 'Crimen',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 18,
  'titulo': 'The Departed',
  'a√±o': 2006,
  'duracion': 151,
  'genero': 'Crimen',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 19,
  'titulo': 'Whiplash',
  'a√±o': 2014,
  'duracion': 106,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 20,
  'titulo': 'La La Land',
  'a√±o': 2016,
  'duracion': 128,
  'genero': 'Musical',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 21,
  'titulo': 'The Lord of the Rings: The Fellowship of the Ring',
  'a√±o': 2001,
  'duracion': 178,
  'genero': 'Fantas√≠a',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 22,
  'titulo': 'The Lord of the Rings: The Two Towers',
  'a√±o': 2002,
  'duracion': 179,
  'genero': 'Fantas√≠a',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 23,
  'titulo': 'The Lord of the Rings: The Return of the King',
  'a√±o': 2003,
  'duracion': 201,
  'genero': 'Fantas√≠a',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 24,
  'titulo': 'Star Wars: A New Hope',
  'a√±o': 1977,
  'duracion': 121,
  'genero': 'Ciencia ficci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 25,
  'titulo': 'Star Wars: The Empire Strikes Back',
  'a√±o': 1980,
  'duracion': 124,
  'genero': 'Ciencia ficci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 26,
  'titulo': 'Star Wars: Return of the Jedi',
  'a√±o': 1983,
  'duracion': 131,
  'genero': 'Ciencia ficci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 27,
  'titulo': 'Back to the Future',
  'a√±o': 1985,
  'duracion': 116,
  'genero': 'Aventura',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 28,
  'titulo': 'Jurassic Park',
  'a√±o': 1993,
  'duracion': 127,
  'genero': 'Aventura',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 29,
  'titulo': 'The Lion King',
  'a√±o': 1994,
  'duracion': 88,
  'genero': 'Animaci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 30,
  'titulo': 'Toy Story',
  'a√±o': 1995,
  'duracion': 81,
  'genero': 'Animaci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 31,
  'titulo': 'Finding Nemo',
  'a√±o': 2003,
  'duracion': 100,
  'genero': 'Animaci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 32,
  'titulo': 'Shrek',
  'a√±o': 2001,
  'duracion': 90,
  'genero': 'Animaci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 33,
  'titulo': 'The Incredibles',
  'a√±o': 2004,
  'duracion': 115,
  'genero': 'Animaci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 34,
  'titulo': 'WALL¬∑E',
  'a√±o': 2008,
  'duracion': 98,
  'genero': 'Animaci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 35,
  'titulo': 'Up',
  'a√±o': 2009,
  'duracion': 96,
  'genero': 'Animaci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 36,
  'titulo': 'Spirited Away',
  'a√±o': 2001,
  'duracion': 125,
  'genero': 'Animaci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en', 'jp']},
 {'id': 37,
  'titulo': 'Princess Mononoke',
  'a√±o': 1997,
  'duracion': 134,
  'genero': 'Animaci√≥n',
  'adultos': True,
  'subtitulos': ['es', 'en', 'jp']},
 {'id': 38,
  'titulo': 'The Green Mile',
  'a√±o': 1999,
  'duracion': 189,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 39,
  'titulo': 'The Truman Show',
  'a√±o': 1998,
  'duracion': 103,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 40,
  'titulo': 'The Social Network',
  'a√±o': 2010,
  'duracion': 120,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 41,
  'titulo': 'Joker',
  'a√±o': 2019,
  'duracion': 122,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 42,
  'titulo': 'Black Panther',
  'a√±o': 2018,
  'duracion': 134,
  'genero': 'Acci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 43,
  'titulo': 'Iron Man',
  'a√±o': 2008,
  'duracion': 126,
  'genero': 'Acci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 44,
  'titulo': 'The Avengers',
  'a√±o': 2012,
  'duracion': 143,
  'genero': 'Acci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 45,
  'titulo': 'Avengers: Endgame',
  'a√±o': 2019,
  'duracion': 181,
  'genero': 'Acci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 46,
  'titulo': 'Dune',
  'a√±o': 2021,
  'duracion': 155,
  'genero': 'Ciencia ficci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 47,
  'titulo': 'Mad Max: Fury Road',
  'a√±o': 2015,
  'duracion': 120,
  'genero': 'Acci√≥n',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 48,
  'titulo': 'The Revenant',
  'a√±o': 2015,
  'duracion': 156,
  'genero': 'Aventura',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 49,
  'titulo': 'Parasite',
  'a√±o': 2019,
  'duracion': 132,
  'genero': 'Thriller',
  'adultos': True,
  'subtitulos': ['es', 'en', 'ko']},
 {'id': 50,
  'titulo': 'Oldboy',
  'a√±o': 2003,
  'duracion': 120,
  'genero': 'Thriller',
  'adultos': True,
  'subtitulos': ['es', 'en', 'ko']},
 {'id': 51,
  'titulo': 'The Pianist',
  'a√±o': 2002,
  'duracion': 150,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 52,
  'titulo': 'The Wolf of Wall Street',
  'a√±o': 2013,
  'duracion': 180,
  'genero': 'Biograf√≠a',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 53,
  'titulo': 'Her',
  'a√±o': 2013,
  'duracion': 126,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 54,
  'titulo': 'Gravity',
  'a√±o': 2013,
  'duracion': 91,
  'genero': 'Ciencia ficci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 55,
  'titulo': 'The Shape of Water',
  'a√±o': 2017,
  'duracion': 123,
  'genero': 'Fantas√≠a',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 56,
  'titulo': 'Get Out',
  'a√±o': 2017,
  'duracion': 104,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 57,
  'titulo': 'It',
  'a√±o': 2017,
  'duracion': 135,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 58,
  'titulo': 'The Conjuring',
  'a√±o': 2013,
  'duracion': 112,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 59,
  'titulo': 'A Quiet Place',
  'a√±o': 2018,
  'duracion': 90,
  'genero': 'Terror',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 60,
  'titulo': 'The Exorcist',
  'a√±o': 1973,
  'duracion': 122,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 61,
  'titulo': 'The Shining',
  'a√±o': 1980,
  'duracion': 144,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 62,
  'titulo': 'Blade Runner',
  'a√±o': 1982,
  'duracion': 117,
  'genero': 'Ciencia ficci√≥n',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 63,
  'titulo': 'Blade Runner 2049',
  'a√±o': 2017,
  'duracion': 164,
  'genero': 'Ciencia ficci√≥n',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 64,
  'titulo': 'Alien',
  'a√±o': 1979,
  'duracion': 117,
  'genero': 'Ciencia ficci√≥n',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 65,
  'titulo': 'Aliens',
  'a√±o': 1986,
  'duracion': 137,
  'genero': 'Ciencia ficci√≥n',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 66,
  'titulo': 'The Terminator',
  'a√±o': 1984,
  'duracion': 107,
  'genero': 'Acci√≥n',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 67,
  'titulo': 'Terminator 2: Judgment Day',
  'a√±o': 1991,
  'duracion': 137,
  'genero': 'Acci√≥n',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 68,
  'titulo': 'Rocky',
  'a√±o': 1976,
  'duracion': 120,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 69,
  'titulo': 'Raging Bull',
  'a√±o': 1980,
  'duracion': 129,
  'genero': 'Biograf√≠a',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 70,
  'titulo': 'Taxi Driver',
  'a√±o': 1976,
  'duracion': 113,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 71,
  'titulo': 'Casablanca',
  'a√±o': 1942,
  'duracion': 102,
  'genero': 'Romance',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 72,
  'titulo': 'Citizen Kane',
  'a√±o': 1941,
  'duracion': 119,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 73,
  'titulo': 'Psycho',
  'a√±o': 1960,
  'duracion': 109,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 74,
  'titulo': 'Vertigo',
  'a√±o': 1958,
  'duracion': 128,
  'genero': 'Suspense',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 75,
  'titulo': 'Rear Window',
  'a√±o': 1954,
  'duracion': 112,
  'genero': 'Suspense',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 76,
  'titulo': '12 Angry Men',
  'a√±o': 1957,
  'duracion': 96,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 77,
  'titulo': "Schindler's List",
  'a√±o': 1993,
  'duracion': 195,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 78,
  'titulo': 'American Beauty',
  'a√±o': 1999,
  'duracion': 122,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 79,
  'titulo': 'No Country for Old Men',
  'a√±o': 2007,
  'duracion': 122,
  'genero': 'Crimen',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 80,
  'titulo': 'The Big Lebowski',
  'a√±o': 1998,
  'duracion': 117,
  'genero': 'Comedia',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 81,
  'titulo': 'Am√©lie',
  'a√±o': 2001,
  'duracion': 122,
  'genero': 'Romance',
  'adultos': False,
  'subtitulos': ['es', 'en', 'fr']},
 {'id': 82,
  'titulo': 'The Intouchables',
  'a√±o': 2011,
  'duracion': 112,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en', 'fr']},
 {'id': 83,
  'titulo': 'City of God',
  'a√±o': 2002,
  'duracion': 130,
  'genero': 'Crimen',
  'adultos': True,
  'subtitulos': ['es', 'en', 'pt']},
 {'id': 84,
  'titulo': "Pan's Labyrinth",
  'a√±o': 2006,
  'duracion': 118,
  'genero': 'Fantas√≠a',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 85,
  'titulo': 'Roma',
  'a√±o': 2018,
  'duracion': 135,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 86,
  'titulo': 'Slumdog Millionaire',
  'a√±o': 2008,
  'duracion': 120,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 87,
  'titulo': 'Million Dollar Baby',
  'a√±o': 2004,
  'duracion': 132,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 88,
  'titulo': "The King's Speech",
  'a√±o': 2010,
  'duracion': 118,
  'genero': 'Biograf√≠a',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 89,
  'titulo': 'Argo',
  'a√±o': 2012,
  'duracion': 120,
  'genero': 'Thriller',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 90,
  'titulo': 'Moonlight',
  'a√±o': 2016,
  'duracion': 111,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 91,
  'titulo': 'Manchester by the Sea',
  'a√±o': 2016,
  'duracion': 137,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 92,
  'titulo': 'Birdman',
  'a√±o': 2014,
  'duracion': 119,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 93,
  'titulo': 'Django Unchained',
  'a√±o': 2012,
  'duracion': 165,
  'genero': 'Western',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 94,
  'titulo': 'Inglourious Basterds',
  'a√±o': 2009,
  'duracion': 153,
  'genero': 'B√©lico',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 95,
  'titulo': 'The Hateful Eight',
  'a√±o': 2015,
  'duracion': 168,
  'genero': 'Western',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 96,
  'titulo': 'La vita √® bella',
  'a√±o': 1997,
  'duracion': 116,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en', 'it']},
 {'id': 97,
  'titulo': 'Requiem for a Dream',
  'a√±o': 2000,
  'duracion': 102,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 98,
  'titulo': 'Memento',
  'a√±o': 2000,
  'duracion': 113,
  'genero': 'Thriller',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 99,
  'titulo': 'Eternal Sunshine of the Spotless Mind',
  'a√±o': 2004,
  'duracion': 108,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 100,
  'titulo': 'Donnie Darko',
  'a√±o': 2001,
  'duracion': 113,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']}]

In [23]:
df_peliculas

,id_pelicula,titulo,ano_lanzamiento,duracion_minutos,genero,contenido_adulto
0,1,The Godfather,1972,175,Crimen,False
1,2,The Godfather Part II,1974,202,Crimen,False
2,3,Pulp Fiction,1994,154,Crimen,True
3,4,Forrest Gump,1994,142,Drama,False
4,5,The Dark Knight,2008,152,Acci√≥n,False
...,...,...,...,...,...,...
95,96,La vita √® bella,1997,116,Drama,False
96,97,Requiem for a Dream,2000,102,Drama,True
97,98,Memento,2000,113,Thriller,True
98,99,Eternal Sunshine of the Spotless Mind,2004,108,Drama,False
99,100,Donnie Darko,2001,113,Drama,True

In [24]:
df_subtitulos_raw

    id_pelicula    subtitulos
0             1      [es, en]
1             2      [es, en]
2             3      [es, en]
3             4  [es, en, fr]
4             5      [es, en]
..          ...           ...
95           96  [es, en, it]
96           97      [es, en]
97           98      [es, en]
98           99      [es, en]
99          100      [es, en]

[100 rows x 2 columns]